.left-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  align-content: space-evenly;
  padding: 2rem 2rem;
  height: 100%;
  background-color: var(--color-background-dark);
  /* border: 2px solid var(--color-background-white); */
  border-radius: 0px 20px 0px 0px;
}
