.left-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  align-content: space-evenly;
  padding: 2rem 2rem;
  height: 100%;
  background-color: var(--color-background-dark);
  /* border: 2px solid var(--color-background-white); */
  /* box-shadow: 0 0 4px 3px #181818; */
  box-shadow: inset 0 0 4px 3px #404040;
}
