.color {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.color__title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.color__content {
  /* max-height: 0; */
  display: none;
  /* overflow: hidden; */
  /* overflow: auto; */
}

.show {
  /* max-height: 100%; */
  display: block;
}
