.state {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.state__title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--color-background-transparent-black);
  padding: 1rem 1.6rem;
  border-radius: 1rem;
  box-shadow: 0 0 4px 3px #181818;
}

.state__title-text {
  user-select: none;
}

.state__content {
  /* max-height: 0; */
  display: none;
  /* overflow: hidden; */
  /* overflow: auto; */
}

.show {
  /* max-height: 100%; */
  display: block;
}
