.font {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.font__title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--color-background-transparent-black);
  padding: 1rem 1.6rem;
  border-radius: 1rem;
  box-shadow: 0 0 2px 2px #404040;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: var(--color-background-black);
  }
}

.font__title-text {
  user-select: none;
}

.font__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.show {
  max-height: 80rem;
}
