.workbench {
  background-color: bisque;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.workbench__controls--middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background-white);
}

.workbench__controls {
  color: var(--color-text-white);
  background-color: var(--color-background-dark);
  padding: 2rem;
}

.workbench__header {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}
