.app {
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--color-text-black);
  font-family: var(--font-monserrat);
  background-color: var(--color-background-white);
  height: 100dvh;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  /* border: 1px solid transparent; */
}
