.app {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--color-text-black);
}

.app__title {
  font-size: 6rem;
  line-height: 1;
  margin-bottom: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.app__title-span-1,
.app__title-span-3 {
  position: relative;
  padding: 0 2rem;
  color: var(--color-purple);
  text-shadow: 0 0 2px var(--color-text-white), 0 0 5px var(--color-purple),
    0 0 4px var(--color-purple);
}

.app__title-span-1::before,
.app__title-span-1::after,
.app__title-span-3::before,
.app__title-span-3::after {
  color: var(--color-purple);
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  height: calc(40% - 5px);
  border: 4px solid var(--color-purple);
}

.app__title-span-1::before,
.app__title-span-3::before {
  border-bottom-width: 0;
}

.app__title-span-1::after,
.app__title-span-3::after {
  bottom: 0;
  border-top-width: 0;
}

.app__title-span-2 {
  padding: 0 2rem;
  background-color: var(--color-background-red);
  color: var(--color-text-white);
  border-radius: 19px;
}

main {
  margin: 0 auto;
  max-width: fit-content;
}

.workbench {
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 100%;
}

.workbench__controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  width: 20rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  background-color: var(--color-text-white);
}

.workbench__preview {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  background-color: var(--color-text-white);
}

.workbench__textarea {
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.workbench__input-radius,
.workbench__input-padding,
.workbench__input-font-weight,
.workbench__input-font-size,
.workbench__input-padding-y,
.workbench__input-padding-x {
  width: 5rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.workbench__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.workbench__button {
  cursor: pointer;
}

.workbench__code-area-wrapper {
  position: relative;
}

.workbench__copy-button {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  background: none;
  color: #ccc;
  padding: 0.3rem;
  cursor: pointer;
}

.workbench__icon-copy {
  fill: #727d8c;
  transition: fill 0.1s ease-in-out;
}

.workbench__icon-copy:hover {
  fill: #464646;
}

.workbench__input-color {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.workbench__font-color-preview,
.workbench__background-color-preview {
  font-size: 1rem;
  width: 9rem;
  border: 1px solid #ccc;
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

input[type="color"] {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.workbench__text-padding-y,
.workbench__text-padding-x {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.footer {
  margin-top: 2rem;
}

.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer__icon {
  position: relative;
  fill: var(--color-text-black);
}

.footer__icon:hover {
  transform: scale(1.1);
}

.footer__icon::after {
  content: "GitHub";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  color: var(--color-text-white);
  background-color: var(--color-text-black);
  border-radius: 5px;
  pointer-events: none;
  transition: all 0.1s ease-in-out;
}

.footer__icon:hover::after {
  opacity: 1;
  pointer-events: none;
  padding: 0 0.5rem;
  transform: translate(-50%, 100%);
}

.label {
  border: 1px solid #ccc;
  padding: 0 0.5rem;
  border-radius: 5px;
  width: fit-content;
  background-color: var(--color-violet);
  color: var(--color-text-white);
  margin: 0.5rem 0;
}

.workbench__padding-wrapper {
  display: flex;
  justify-content: space-between;
}
