*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

:root {
  /* TEXT COLOR */
  --color-purple: #a5158c;
  --color-background-cyan-light: #60daff45;
  --color-text-black: #242424;
  --color-text-black-light: #767676;
  --color-text-white: #fff;

  /* BACKGROUND COLOR */
  --color-background-red: #ff0000;
  --color-background-white: #fff;
  --color-background-gray: #c2c2c2;
  --color-background-gray-light: #e8e8e8;
  --color-background-dark-hard: #101010;
  --color-background-dark: #292929;
  --color-background-dark-light: #383838;

  /* FONT FAMILY */
  --font-system-ui: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

[data-theme="dark"] {
  /* TEXT COLOR */
  --color-purple: #a5158c;
  --color-text-black: #fff;
  --color-text-white: #fff;

  /* BACKGROUND COLOR */
  --color-background-red: #ff0000;
  --color-background-white: #292929;
  --color-background-gray: #c2c2c2;
  --color-background-gray-light: #e8e8e8;
  --color-background-dark: #292929;
  --color-background-cyan-light: #771065;

  /* FONNT FAMILY*/
  /* --font-system-ui: system-ui, Avenir, Helvetica, Arial, sans-serif; */
}

textarea {
  resize: none;
  border-radius: 5px;
  padding: 4px;
  color: var(--color-text-black);
}

li {
  list-style: none;
}
