*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

:root {
  /* TEXT COLOR */
  --color-purple: #a5158c;
  --color-background-cyan-light: #60daff45;
  --color-text-black: #242424;
  --color-text-white: #fff;

  /* BACKGROUND COLOR */
  --color-background-red: #ff0000;
  --color-background-white: #fff;
  --color-background-gray: #c2c2c2;
  --color-background-gray-light: #e8e8e8;
  --color-background-dark: #292929;

  /* FONT FAMILY */
  --font-system-ui: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

[data-theme="dark"] {
  /* TEXT COLOR */
  --color-purple: #a5158c;
  --color-text-black: #fff;
  --color-text-white: #fff;

  /* BACKGROUND COLOR */
  --color-background-red: #ff0000;
  --color-background-white: #292929;
  --color-background-gray: #c2c2c2;
  --color-background-gray-light: #e8e8e8;
  --color-background-dark: #292929;
  --color-background-cyan-light: #771065;

  /* FONNT FAMILY*/
  --font-system-ui: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

textarea {
  resize: none;
  border-radius: 5px;
  padding: 4px;
  color: var(--color-text-black);
}

li {
  list-style: none;
}

.test {
  width: 100%;
  height: 100dvh;
  border: 5px solid rgb(5, 0, 0);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  background-color: red;
}

.column {
  border: 5px solid rgb(53, 53, 248);
  background-color: var(--color-background-gray-light);
}

.row {
  border: 5px solid rgb(255, 192, 74);
  background-color: var(--color-background-gray-light);
  height: 50%;
}
