*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --color-background-red: #ff0000;
  --color-violet: #410445;
  --color-purple: #a5158c;
  --color-cyan-light: #60daff45;
  --color-pink: #ff2df1;
  --color-yellow: #f6dc43;
  --color-text-black: #242424;
  --color-text-white: #fff;
  --font-system-ui: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  height: 100dvh;
  font-family: var(--font-system-ui);
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  resize: none;
  border-radius: 5px;
  padding: 4px;
}

@media screen and (max-width: 1440px) {
  body {
    height: auto;
    padding: 5rem;
  }
}
